<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  
  <div class="col-md-3">
<img src="assets/images/logo.png" class="logo" alt="logo">
  </div>
  <div class="col-md-6">
      <br><br><br><br><br><br><br>
      <div class="margin0 box">
          <h1 class="action">CARD REQUEST</h1>
      </div>
      
  </div>
  <div class="col-md-3">
      <br><br>
      <a class="btn btn-lg btn-ash pull-right" href="#">English</a>
      <br><br><br><br><br>
      <a class="btn btn-lg btn-ash pull-right" href="#">Igbo</a>
      <br><br><br><br><br>
      <a class="btn btn-lg btn-ash pull-right" href="#">Hausa</a>
      <br><br><br><br><br>
      <a class="btn btn-lg btn-ash pull-right" href="#">Yoruba</a>
      <br><br><br><br><br>
      <a routerLink="add-account" class="btn btn-lg btn-amber next">Next</a>
  </div> 
</div>
