<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <div class="col-md-3">
    <img src="assets/images/logo.png" class="logo" alt="logo">
    <a href="#" onclick="goBack()" class="btn btn-lg btn-ash next">Previous</a>
  </div>
  <div class="col-md-6">
    <br><br><br><br><br><br><br>
    <div class="margin0 ">
      <h2 class="">Enter your account number </h2>
      <input type="text" maxlength="10" class="form-control">
    </div>

  </div>
  <div class="col-md-3">
    <a routerLink="#" class="badge help-icon pull-right">?</a>
    <br><br>

    <a [routerLink]="['./enter-otp']" class="btn btn-lg btn-amber next">Next</a>
  </div>
</div>