<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <div class="col-md-3">
    <img src="assets/images/logo.png" class="logo" alt="logo">
  </div>
  <div class="col-md-6">
    <br><br><br>
    <div class="margin0 ">
      <h1><b> Complete </b></h1>
      <h3> Card Printed Successfully </h3>
      <br>
      <img src="assets/images/atm.png" class="logo" alt="logo">
      <br><br>
      <h3> Please Take Your Card </h3>
      <i>
       <span class="badge help-icon">!</span> Proceed with your new card to the nearest GTBank to select your pin
      </i>
    </div>
  </div>
  <div class="col-md-3">
    <a routerLink="#" class="badge help-icon pull-right">?</a>
    <br><br>
  </div>
</div>