<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  
    <div class="col-md-3">
  <img src="assets/images/logo.png" class="logo" alt="logo">
  
  <a href="#" onclick="goBack()" class="btn btn-lg btn-ash next">CANCEL</a>
    </div>
    <div class="col-md-6">   
        <br><br><br>
        <div class="margin0 ">
            <h1><b> Confirmation !!! </b></h1>
            <br><br>
            <h5>" <b> FIRSTNAME/SECONDNAME LASTNAME </b> "</h5>
            <br><br>
            <i>
                <span class="badge help-icon">!</span> Please note that a Card fee of N1050.00 will  be debited from your account
            </i>
            <br><br>
            <i>
              Click SUBMIT to confirm and print Card, Otherwise Click CANCEL
            </i>
        </div>   
    </div>
    <div class="col-md-3">
        <a routerLink="#" class="badge help-icon pull-right">?</a>
        <br><br>
        
        <a routerLink="complete" class="btn btn-lg btn-amber next">SUBMIT</a>
    </div> 
  </div>
  