@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background:#c14605 ;
    color: #ffffff;
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}
.logo{
    width: 120px;
    height: 120px;
}

.margin0{
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    padding: 4em;
    background: #dd4f05;
    text-transform:capitalize;
    font-weight: 600;
    border: 1px solid #333;
  box-shadow: 5px 10px 18px #161616;
}
.action{
    font-weight: 700;
    font-size: 60px;
}
.pull-right{
    float: right;
    right: 0;
    display: block;
}
.box{
    background: #dd4f05;
    color: #ffffff;
    font-weight: 800;
    min-width: 100%;
    min-height: 250px;
}

.next{
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    /* width: 100%; */
}

.help-icon{
    background: #ffffff;
    padding: 10px;
    color: #dd4f05;
    margin:20px;
}